/*HEADER*/
body {
    background-color: #bfbfbf;
   }
   
table{
	position: fixed; 
    top: 50%;
    left: 50%;
    width: 500px;
    height:550px;
    margin: -275px 0 0 -250px;
	background: white;
	border-collapse: collapse;
	-webkit-box-shadow: 0 0 5px #000000;
	-moz-box-shadow: 0 0 5px #000000;
	box-shadow: 0 0 5px #000000;
	border-bottom-style:none;
	border:none;
}

td{
	border-bottom:7px solid black;
	border-right:7px solid black;
}

.td1{
	width:115px;
}
.td2{
	width:200px;
}
.td3{
	width:165px;
}
.tr1{
	height:50px;
}
.tr4{
	height:130px;
}
.tr2,.tr5{
	height:65px;
	}	

.tr7{
	height:60px;
	}	
.tr8{
	height:30px;
	}	
.tr9{
	height:30px;
	}	

.td51,.td52{ 
width:60px;	
}
.td8{ 
width:80px;	
}
.td4{
	height:130px;
}
	
/*отмена крайних линий*/
.td21, .td18, .td13,.td3,.td6,.td8,.td54{
	border-right-style:none;
	}	
.td19,.td21,.td14 {
border-bottom-style:none;	
}
	
/*color*/

.td3,.td6,.td14{
background:#ffff64;	
}
.td5{
background:#ff6143;	
}

.td110,.td120, .td20, .td51,.td52{
background:#242424;	
}	
.td18{
background:#0a4985;	
}	
