
@font-face {
    font-family: 'MontserratBold';
    src: url($fonts_dir+'montserrat-bold-webfont.woff2') format('woff2'),
         url($fonts_dir+'montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoLight';
    src: url($fonts_dir+'roboto-light-webfont.woff2') format('woff2'),
         url($fonts_dir+'roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MontserratRegular';
    src: url($fonts_dir+'montserrat-regular-webfont.woff2') format('woff2'),
         url($fonts_dir+'montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: $font_family_Open_sans;
	overflow-x: hidden;
   }
	 /*masonry*/
.grid{width:auto;margin:0 auto;z-index:0;}
.grid-item { margin:5px;z-index:0}

.g_i_1{
	display:block;
	text-decoration:none;
	margin:auto;
	position:relative;
	text-align:center;}

.g_i_2{
		display:table;
		position:absolute;
		left:0;
		top:0;
		width:auto;
		height:auto;
		text-align:center;
		z-index:0;
}

.g_i_2 h2{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	z-index:10;
}
	
.grid .grid-item {float: left;}

/*end masonry*/

a{
	text-decoration:none;
	color:white;
}
h2,h1{
	font-family: $font_family_MontserratBold; 
	color:$h2_h1_color;
	margin-bottom:$h2_h1_margin-bottom;
	line-height:$h2_h1_line-height;
}
h3{
	font-family: MontserratBold; 
	color:$h2_h1_color;
	/*line-height:$h3_line-height;*/
	}

h4{font-family: $font_family_MontserratRegular; color:$h4_color;font-size:$h4_font-size;}
h5{
	font-family:$font_family_MontserratRobotoLight; 
	color:$h5_color;
	margin-bottom:$h5_margin-bottom;
	
}
h2{	font-size:$h2_font-size;}
h1{	font-size:$h2_font-size;text-transform:uppercase;}
h3{	font-size:$h3_font-size;color:$h3_color;padding-top:$h3_padding-top;line-height:$h3_line-height;}
h5{ font-size:$h5_font-size;}
p{ font-size:$p_font-size;}
h6{ font-family: $font_family_MontserratRobotoLight; font-size:$h6_font-size;color:$h6_color; line-height:$h6_line-height;}

.clearfix:after{
	content:'';
	clear:both;
	display:block;
}
.header,.main,.footer{
	display:block;
	position:relative;
	font-family:$font_family_MontserratBold; 
	background:white;
	z-index:1;
	width:auto;
	margin:0 auto;
	text-align:center;
	background:white;
}


.menu{
	display:block;
	width:200px;
	margin:0 auto;
}
.menu__item{
	display:block;
	float:left;
	z-index:2;
	margin-left:$menu__item_margin-left;
	padding:$menu__item_padding_top_bottom $menu__item_padding_left_right;
}
.menu__link{
	display:block;
	font-size:$menu__link_font-size;
	color:$menu__link_color;
	z-index:2;
	line-height:$menu__link_line-height;
}

.menu__item:hover {
	border-radius: $menu__item_hover_border-radius;
	border: $menu__item_hover_border $menu__item_hover_color solid;   
	padding:$menu__item_hover_padding_top_bottom $menu__item_hover_padding_left_right;
}

.header_img{
	min-width:$header_img_min-width;
	width:$header_img_width;
}

.header_{
	z-index:1;
	position:absolute;
	left:$header__img_left;
	top:$header__img_top;
	width:$header__img_width;
}

.header_menu{
	top:$header_menu_top;
}
.header_title{
text-align:center;
top:$header_title_top;
}

.button_link{
	background:$button_link_background;
	border-radius: $button_link_border-radius;
	display:block;
	line-height:$button_link_line-height;
}
.header_link{
		margin:0 auto;
		width:$header_link_width;
}

.main_{
	width:100%;
	text-align:center;
	position:relative;
	overflow: hidden;
}

.main_img{
	display:block;
	margin:0 auto;
	width:$main_img_width;
	min-width:$main_img_min-width;
	margin-bottom:$main_img_margin-bottom;
}
.main_for_img{
	z-index:1;
	position:absolute;
	left:$main_for_img_left;
	top:$main_for_img_top;
	width:$main_for_img_width;
	margin:0 auto;
	text-align:left;
	padding-left:$main_for_img_padding-left;
	padding-bottom:$main_for_img_padding-bottom;
	height:$main_for_img_height;
	overflow:hidden;
}
.step_link{
	width:$step_link_width;
	padding-left:$step_link_padding-left;
	line-height:$step_link_line-height;
}
.main_for_img h2{
	font-size:$main_for_img_h2_font-size;
	line-height:$main_for_img_h2_line-height;
	margin-top:$main_for_img_h2_margin-top;
	margin-bottom:$main_for_img_h2_margin-bottom;}

.icons{
	position:absolute;
	width:$icons_width;
	left:$icons_left;
	top:$icons_top;
}

.main_1{
	margin-top:$main_1_margin-top;
}

.main2_img{
	width:$main2_img_width;
}
.main_for_icons{
	width:$main_for_icons_width;
	text-align:center;
	margin:0 auto;
	position:relative;
	margin-top:$main_for_icons_margin-top;
}

.main_ p{
	margin:$main_p_margin 0;
	color:$main_p_color;
}
.main_2_for_img{
	width:$main_2_for_img_width;
	margin:0 auto;
}

.main_2_button_link{
	background:$main_2_button_link_background;
	color:$main_2_button_link_color;
	border: $main_2_button_link_border $main_2_button_link_border_color solid;   
	font-size:$main_2_button_link_font-size;
	margin:$main_2_button_link_margin_top_bottom auto;
	width:$main_2_button_link_width;
}

.item-value{
	width:$item-value_width;
	height:$item-value_height;
	margin-bottom:$item-value_margin-bottom;
	padding-left:$item-value_padding-left;
}

.main_4 h6{
	font-size:$main_4_h6_font-size;
	margin-bottom:$main_4_h6_margin-bottom;
}

hr {
	margin:$hr_margin_top auto $hr_margin_bottom auto;
	width:$hr_width;
	border: none; 
  color: $hr_color;
  background-color: $hr_background-color; 
  height: $hr_height; 	
}

/*jcarousel*/

.jcarousel-wrapper {
    margin: 0 auto;
    position: relative;
    width: $jcarousel-wrapper_width;
    height: $jcarousel-wrapper_height;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
		z-index:100;
    position: absolute;
    top:$jcarousel-control_top;
    width: $jcarousel-control_width;
    height: $jcarousel-control_height;
    text-align: center;
}

.jcarousel-control-prev {
    left: $jcarousel-control-prev_left;
		background:url($image_dir+"icons/bm.png") 0 0 no-repeat;
}

.jcarousel-control-next {
    right: $jcarousel-control-next_right;
		background:url($image_dir+"icons/bm.png") -150px 0 no-repeat;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}
/*END jcarousel*/



#holiday_mobile1,#holiday_tablet1,.header_title h2,#img_step1_mobile,#img_step2_mobile,#img_step3_mobile{
	display:none;
}

#holiday1,#img_step1_notmobile,#img_step2_notmobile,#img_step3_notmobile{
	display:block;
}
.header_title h1{
	font-size:$min768_header_title_h1_font-size;
	margin-top:$min768_header_title_h1_margin-top;
	line-height:$min768_header_title_h1_line-height;
}
.header_title h5{
	font-size:$min768_header_title_h5_font-size;
	margin-top:$min768_header_title_h5_margin-top;
	margin-bottom:$min768_header_title_h5_margin-bottom;
}

.jcarousel-wrapper{
	display:block;
}
.main_1{
	width:$min768_main_1_width;
	margin:0 auto;
}

.main_11{
	float:left;	
	width:$min768_main_11_width;
	height:$min768_main_11_height;
	text-align:left;
	height:auto;
	overflow:hidden;
	margin-left:$min768_main_11_margin-left;
	margin-right:$min768_main_11_margin-left;
	}	

.main_for_img{
	top:$min768_main_for_img_top;
	padding:0;
	width:$min768_main_for_img_width;
	margin:0 $min768_main_for_img_margin_left_right;
}
.menu{
	float:right;
	margin-top:$min768_menu_margin-top;
	margin-right:$min768_menu_margin-right;
}

.header_menu h2{
	display:block;
	float:left;
	margin-left:$min768_header_menu_h2_margin-left;
	overflow:hidden;
	margin-top:$min768_header_menu_h2_margin-top;
}
.main h3{
margin-top:$min768_main_h3_margin-top;
margin-bottom:$min768_main_h3_margin-bottom;
}
.main_21{
	float:left;	
	margin-left:$min768_main_21_margin-left;
	margin-right:$min768_main_21_margin-right;
	width:23%;
}
.main_2{
	width:$min768_main_2_width;
	margin:0 auto;
}
.main_2_button_link{
	margin-top:$min768_main_2_button_link_margin-top;
	margin-bottom:$min768_main_2_button_link_margin-bottom;
}	
.main_4 h6{
	margin-bottom:$min768_main_4_h6_margin-bottom;
}
.main_4 hr{
	margin-top:$min768_main_4_hr_margin-top;
	margin-bottom:$min768_main_4_hr_margin-bottom;
}
.item-value{float:left;}
#poisk_link1{
	float:left;
	width:$min768_poisk_link1_width;
	margin-left:$min768_poisk_link1_margin-left;}

.search{
	width:$min768_search_width;
	margin:0 auto;
}
.footer_item{
	float:none;
	padding-left:$min768_footer_item_padding-left;
	text-align:left;
}
.footer{
	width:$min768_footer_width;
	margin:0 auto;
}
.menu_footer{width:100%;margin:0;}

.footer_menu{
	display:block;
	float:left;
	width:$min768_footer_menu_width;
	text-align:	center;
	margin:0 auto;
	}

.footer_el{
	display:block;
	float:left;
	width:$min768_footer_el_width;
	margin-left:$min768_footer_el_margin-left;
	margin-right:$min768_footer_el_margin-right;}
	
.footer_logo{
	float:right;
	width:$min768_footer_logo_width;
	margin-left:$min768_footer_logo_margin-left;
	margin-right:$min768_footer_logo_margin-right;
}
.footer_el_h2{
	margin-top:$min768_footer_el_h2_margin-top;
}
.footer_logo p{width:auto;}


.footer_link{
color:$footer_link_color;
}

.footer h2{
	color:$footer_h2_color;
	font-size:$footer_h2_font-size;
	margin-bottom:$footer_h2_margin-bottom;
}

.footer_h5{
	color:#000000;
	margin:$footer_h5_margin;
	font-weight:$footer_h5_font-weight;
	font-size:$footer_h5_font-size;
}
