@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/montserrat-bold-webfont.woff2') format('woff2'),
         url('../fonts/montserrat-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RobotoLight';
    src: url('roboto-light-webfont.woff2') format('woff2'),
         url('roboto-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MontserratRegular';
    src: url('montserrat-regular-webfont.woff2') format('woff2'),
         url('montserrat-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#img_step1_notmobile,#img_step3_notmobile,#img_step2_notmobile,.header_menu h2,.jcarousel-wrapper,#heather_walker1{
	display:none;
}

body {
	font-family: 'Open sans',Tahoma;
	overflow-x: hidden;
	margin:0;
	padding:0;
   }
	 

.grid {
	padding: 0;
	margin:0;
}

.grid-item{
	float:left;
	width:96%;
	margin:10px;
	height: 120px;
	overflow:hidden;
	z-index:10;
}
.grid-item img {
	width: 100%;
	min-width:100%;
}


/*
.g_i_1{
	display:block;
	text-decoration:none;
	position:relative;
	text-align:center;}

.g_i_2{
		display:table;
		position:absolute;
		left:0;
		top:0;
		width:auto;
		height:auto;
		text-align:center;
		z-index:0;
}

.g_i_2 h2{
	display: table-cell;
	text-align:center;
	vertical-align:middle;
	z-index:10;
}*/
	




a{
	text-decoration:none;
	color:white;
}
h2,h1{
	font-family: 'MontserratBold','Open sans',Tahoma; 
	color:white;
	line-height:40px;
}
h3{
	font-family: 'MontserratBold','Open sans',Tahoma; 
color:white;line-height:40px;}

h4{font-family: 'MontserratRegular','Open sans',Tahoma; color:white;font-size:10px;}
h5{
	font-family: 'RobotoLight','Open sans',Tahoma; 
	color:white;
}
h2{	font-size:20px;}
h1{	font-size:30px;text-transform:uppercase;}
h3{	font-size:22px;color:black;line-height:30px;}
h5{ font-size:18px;}
p{ font-size:14px;}
h6{ font-family: 'RobotoLight','Open sans',Tahoma; font-size:14px;color:#aeacaa; line-height:15px;}
.clearfix:after{
	content:'';
	clear:both;
	display:block;
}

#site{
	font-family: 'Open sans',Tahoma; 
	background:white;
	width:auto;
	height:540px;
	margin:0 auto;
	padding:0;
	background: url(../../img/holiday_mobile1.png) center center no-repeat  ; 
	background-size:auto;
	overflow-x: hidden;
	overflow-y: hidden;
}
.header{
	height:100%;
}
.header,.main,.footer{
	display:block;
	position:relative;
	font-family: 'MontserratBold','Open sans',Tahoma; 
	max-width:960px;
	min-width:320px;
	width:100%;
	padding:0;
	margin:0 auto;
	text-align:center;
}

.menu{
	display:block;
	width:200px;
	margin:0 auto;
}
.menu__item{
	display:block;
	float:left;
	margin-left:2%;
	padding:2px 20px;
}
.menu__link{
	display:block;
	font-size:14px;
	color:white;
	line-height:30px;
}

.menu__item:hover {
	border-radius: 100px;
	border: 2px #ffffff solid;   
	padding:0px 18px;
}


.header_menu{
	width:100%;
	height:30px;
	margin-top:20px;
}
.header_title{
text-align:center;
margin-top:112px;
width:100%;
}
.header h2{
	letter-spacing:2px;
}

.header_title a{
	display:inline-block;
	margin-top:15px;
}
.header_title h1{
	width:300px;
	font-weight:600;
	letter-spacing:1px;
}

.header_title h5{
	display:block;
	width:240px;
	margin:8px auto;
	font-weight:lighter;
}
.button_link{
	background:#ff4e50;
	border-radius: 100px;
	display:block;
	line-height:38px;
}
.header_link{
		margin:0 auto;
		width:270px;
}

.main_{
	width:100%;
	text-align:center;
	position:relative;
	overflow: hidden;
}
.main{
	margin:30px auto 0 auto;
	text-align:center;
}

.main h3{
	font-weight:bold;
	margin:20px auto 0 auto;
	line-height:30px;
	width:300px;
	display:block;
}
.main_img{
	display:block;
	margin:0 auto;
	width:90%;
	min-width:300px;
	margin-bottom:10px;
}
.main_for_img{
	z-index:1;
	position:absolute;
	left:0;
	top:26%;
	width:86%;
	margin:0 auto;
	text-align:left;
	padding-left:9%;
	padding-bottom:3px;
	height:70%;
	overflow:hidden;
}
.main_for_img h6{font-size:14px;}
.main_for_img2{
		top:40%;
}
.step_link{
	width:56px;
	padding-left:10px;
	line-height:20px;
}
.main_for_img h2{font-size:24px; line-height:28px;margin-top:15px;margin-bottom:15px;font-weight:bold;}
.icons{
	position:absolute;
	width:40px;
	left:67%;
	top:67%;
}
.main_1{
	margin-top:17px;
}


.main2_img{
	width:120px;
}
.main_for_icons{
	width:140px;
	text-align:center;
	margin:0 auto;
	position:relative;
	margin-top:10px;
}
.main_2_for_img h6{margin-bottom:20px;font-weight:lighter;}
.main_ p{
	margin:18px 0 16px 0;
	color:black;
}

.main_2_for_img{
	width:68%;
	margin:0 auto;
	font-weight:bold;
}
.main_2_button_link{
	background:white;
	color:#ff6667;
	border: 2px #ff6667 solid;   
	font-size:14px;
	margin:10px auto 28px auto;
	width:270px;
}
.item-value{
	width:260px;
	height:30px;
	margin-bottom:20px;
	padding-left:5px;
}
.main_4{
	margin-top:30px;
}
.main_4 h6{font-size:18px;margin-bottom:20px;margin-top:12px;}
.item-value{height:33px;padding-left:10px;margin-bottom:10px;}
hr {
	margin:40px auto 10px auto;
	width:100%;
	border: none; 
  color: #ff6667;
  background-color: #ff6667; 
  height: 3px; 
	
}


.footer h2{
	color:#ff6667;
	font-size:16px;
	margin-bottom:4px;
	font-weight:bold;
}
.footer p{
	color:#e7e7e7;
	font-size:10px;
	margin:10px 0;
}
.footer h5{
	color:black;
	margin:0;
	font-weight:900;
	font-size:14px;
}

.footer_link{
color:#b8b8b8;
}

.menu_footer{
	width:250px;
	margin:0 auto 8px auto;
}

.footer_item{
	display:block;
	float:left;
	z-index:2;
	margin-left:5%;
}


/*jcarousel*/

.jcarousel-wrapper {
    margin: 0 auto;
    position: relative;
    width: 250px;
    height: 400px;
}

.jcarousel {
    position: relative;
    overflow: hidden;
}

.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
		z-index:100;
    position: absolute;
    top: 40px;
    width: 50px;
    height: 60px;
    text-align: center;
}

.jcarousel-control-prev {
    left: 20px;
		background:url("../../img/icons/bm.png") 0 0 no-repeat;
}

.jcarousel-control-next {
    right: 20px;
		background:url("../../img/icons/bm.png") -150px 0 no-repeat;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}


/*END jcarousel*/


@media all and (min-width: 768px){
.grid-item{
	width:31.5%;
	margin:5px;
	height: auto;
}
.header_title h2,#img_step1_mobile,#img_step2_mobile,#img_step3_mobile{
	display:none;
}
.header_menu{
	margin-top:37px;
}

.header_menu .link_text_menu{
	font-weight:700;
	display:block;
	float:left;
	margin-left:46px;
}

.header_menu .link_text_menu h2{
	margin:0;
	padding:0;
}
.menu{
	margin-right:25px;
	float:right;
}
.header_title h1{
	width:550px;
	font-weight:700;
	letter-spacing:1px;
	font-size:52px;
	margin-top:20px;
	line-height:62px;
}
.header_title h5{
	font-size:24px;
	margin-top:21px;
	margin-bottom:30px;
	width:auto;
}
.header_link{
	width:230px;
}

.jcarousel-wrapper{
	display:block;
}

.main_11{
	float:left;	
	width:250px;
	height:400px;
	text-align:left;
	height:auto;
	overflow:hidden;
	margin-left:10px;
	margin-right:10px;
	}

.menu{
	float:right;
}

.header_menu h2{
	display:block;
	float:left;
	margin-left:10%;
	overflow:hidden;
	margin-top:30px;
}

.main_21{
	float:left;	
	margin-left:1%;
	margin-right:1%;
}


.main_4 h6{
	margin-bottom:40px;
}
.main_4 hr{
	margin-top:95px;
	margin-bottom:40px;
}
.item-value{float:left;}
#poisk_link1{float:left;width:150px;margin-left:10px;}

.search{
	width:450px;
	margin:0 auto;
}
.footer_item{
	float:none;
	padding-left:30%;
	text-align:left;
}
.footer{
	width:90%;
	margin:0 auto;
}
.menu_footer{width:100%;margin:0;}
.footer_menu{
	display:block;
	float:left;
	width:75%;
	text-align:	center;
	margin:0 auto;
	}
.footer_el{
	display:block;
	float:left;
	width:30%;
	margin-left:1%;
	margin-right:1%;}
.footer_logo{
	float:right;
	width:20%;
	margin-left:1%;
	margin-right:1%;
}
.footer_el_h2{
	margin-top:-10px;
}
.footer_logo p{width:auto;}

.main_2_button_link{
	display:block;
	margin-top:20px;
	width:190px;
	margin-bottom:70px;
	font-weight:700;
}	
}

@media all and (min-width: 768px) and (max-width: 960px){
#heather_walker1{display:block;}
#heather_walker2{display:none;}
#bradley_hunter,#lucas_marsha{
	margin-bottom:0px;
}
.main_2{
	width:68%;
	margin:0 auto;
}


.main_21{
	margin-bottom:45px;
}
.main_2_for_img{
	width:90%;
	margin:0 auto;
}
.main_for_icons{
	margin-top:0;
}
.main h3{
width:auto;
margin-top:90px;
margin-bottom:32px;
}
.main_for_img{
	top:53%;
	padding:0;
	width:78%;
	margin:0 9%;
}
.main_for_img2{
	top:65%;
}
.main_1{
	width:810px;
	margin:0 auto;
}
.header{
	width:768px;
	margin:0 auto;
}
#site{
	height:700px;
	background: url(../../img/holiday_tablet1.png) center center no-repeat ; 
}

.main_21{
	width:48%;
}

}
@media all and (min-width: 961px){


#heather_walker2{display:none;}
#img_step1_notmobile,#img_step2_notmobile,#img_step3_notmobile,#heather_walker1{
	display:block;
}

.main_2_for_img{
	width:100%;
	margin:0 auto;
}
.main_2{
	width:98%;
	margin:0 auto;
}

.header{
	width:960px;
	margin:0 auto;
}
.main_21{
	width:23%;
}
#site{
	height:700px;
	background-size:cover;
	background: url(../../img/holiday1.png) center center no-repeat ; 
}
.header_menu .link_text_menu{
	margin-left:10px;
}
.menu{
	margin-right:-10px;
}
.jcarousel-wrapper li img{min-width:300px;width:300px;}
.jcarousel-wrapper {
	  margin-bottom:10px;
    width: 300px;
    height: 400px;
}
.main_11{width:300px;}
.main .main_1{margin:0 auto;width:960px;}

.main_for_img{
	top:58%;
	padding:0;
	width:78%;
	margin:0 9%;
}
.main_for_img2{
	top:65%;
}
.jcarousel-control-prev,
.jcarousel-control-next {
    top: 155px;
}
.main_for_img{
	width:90%;
}
.main h3{
margin-top:90px;
margin-bottom:26px;
width:auto;
}
.footer{
	width:910px;
	margin:0 auto;
}
.footer_el_h2{
	width:auto;
	margin-left:10px;
}
.footer_h5_2 h5{
	width:70px;
}
.footer_logo{
	margin:0;
	/*margin-right:5px;*/
	padding-right:10px;
	width:20%;
	text-align:right;
}
.footer_menu{
	width:75%;
}
}